<!-- footer -->
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">THANK YOU</h5>
                <p class="grey-text text-lighten-4">We hope you enjoyed the news!</p>
              </div>

            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 NEWS | Powered by: NewsAPI.org
            </div>
          </div>
        </footer>

</body>
</html>
