<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</head>
<body>
<style>
p {
  color:black;
}
</style>
  <nav>
    <!-- navbar -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">News Website</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/"></a></li>
        <li><a href="/api/news"></a></li>
        <li class="active"><a href="/api/sources"></a></li>
      </ul>
    </div>
  </nav>
</div>
