<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</head>
<body>
  <h1>Hello World</h1>
  <ul>
    <li><a href="/news">News</a></li>
    <li><a href="/api/news">API News</a></li>
  </ul>
  <div class="row">
<div class="col s12 m7">
  <div class="card">
    <div class="card-image">
      <img src="https://cdn.arstechnica.net/wp-content/uploads/2017/01/800px-Zombie_statue_7283588922-760x380.jpg">
      <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
      <a href="#">This is a link</a>
    </div>
  </div>
</div>
</div>
</body>
</html>
